<AppBarModifier title="Adicionar" />

<Collection title="Informações">
  <Input label="Nome" alphanumeric bind:value=name/>
  <Input label="Telefone" mask={['(##)#####-####','(##)####-####']} bind:value=phone/>
  <Input label="Lugares" bind:value=seats/>
</Collection>

<Button
  size="full"
  on:click="addCostumer()"
  shortcut="enter"
>
  SALVAR
</Button>


<script>
  import Storage from '@mamba/pos/api/storage.js';
  import short from 'short-uuid';

  export default {
    components: {
      AppBarModifier: '@mamba/appbar/Modifier.html',
      Input: '@mamba/input/Input.html',
      Collection: '@mamba/collection/Collection.html',
      Button: '@mamba/button/Button.html',
    },
    data() {
      return {
        name: '',
        phone: undefined,
        seats: undefined,
      };
    },
    methods: {
      addCostumer() {
        const translator = short();
        const costumers = Storage.getItem('costumers') || [];
        const { name, seats, phone } = this.get();
        costumers.push({ name, seats, phone, id: translator.new() });
        Storage.setItem('costumers', costumers);
        console.log(costumers);
        this.root.router.go('/');
      },
    },
  };
</script>
