<AppBarModifier title="Visualizar" />
<div class="card">
    <div class="card-header">
      <span>Informações</span>
    </div>
    <div class="card-row" style="font-weight: 600;">
      José Luiz Carlos
    </div>
    <div class="card-row">
      <span style="font-weight: 600;">
        Contato:
      </span>
      (21) 98910-68926
    </div>
    <div class="card-row">
      <span style="font-weight: 600;">
        Lugares:
      </span>4
    </div>
</div>

<div class="btn-menu">
  <button class="main-btn">Enviar SMS</button>
  <button class="secondary-btn danger">Remover</button>
  <button class="secondary-btn normal">Editar</button>
</div>

<script>
  export default {
    components: {
      AppBarModifier: '@mamba/appbar/Modifier.html',
    },
    data() {
      return {};
    },
    methods: {},
  };
</script>

<style>
  .card {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    background-color: white;
    padding: 12px;
    border-radius: 5px;
    margin: 8px;
    border-bottom: 1px solid lightgray;
  }

  .card-header {
    width: 100%;
    font-size: 18px;
    font-weight: 600px;
    color: #47be00;
  }

  .card-row {
    display: flex;
    width: 100%;
    justify-content: left;
    padding-top: 10px;
  }

  .btn-menu {
    text-align: center;
  }

  .main-btn {
    border-style: none;
    border-radius: 5px;
    background-color: #47be00;
    color: white;
    padding: 7px;
    margin-left: 3px;
  }

  .secondary-btn {
    border: solid 1px #47be00;
    border-radius: 5px;
    background-color: transparent;
    color: #47be00;
    padding: 7px;
    margin-left: 3px;
  }

  .danger {
    border-color: #e03d14;
    color: #e03d14;
  }

  .normal {
    border-color: #686868;
    color: #686868;
  }

  span {
    margin-right: 3px;
  }
</style>

