<AppBarModifier title="Lista" />

<Collection title="Clientes na Fila">
  {#each $costumers as costumer,i}
    <Row label={`${i+1} - ${costumer.name}`} rightLabel={`Lugares: ${costumer.seats}`} href="/check-costumer"></Row>
  {/each}
</Collection>

<Button
  size="full"
  bottom
  on:click="this.root.router.go('/add-costumer')"
  shortcut="enter"
>
  ADICIONAR NA FILA
</Button>

<script>
  export default {
    components: {
      AppBarModifier: '@mamba/appbar/Modifier.html',
      Button: '@mamba/button',
      Collection: '@mamba/collection/Collection.html',
      Row: '@mamba/collection/Row.html',
    },
  };
</script>
